body {
  font-family:'Roboto', -apple-system, BlinkMacSystemFont,  'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #FEFBE9;
}

.border-light{
  border-color: lightgrey !important;
}

.post-button:hover {
  background-color: rgb(241, 241, 241) !important;
}

.form-label {
  font-size: 14px;
}

.modal-height {
  height: 80vh;
}

.text-unique{
  color: #F0A04B
}
